# Основные зависимости
torch==2.2.2
transformers==4.41.0
nltk==3.8.1
pytesseract==0.3.10
pdf2image==1.16.3
opencv-python-headless==4.9.0.80
Pillow==10.3.0
numpy==1.26.4
tqdm==4.66.4

# LayoutParser и его зависимости
layoutparser[layoutmodels,ocr]==0.3.4
detectron2@git+https://github.com/facebookresearch/detectron2.git@v0.6
pycocotools==2.0.7
iopath==0.1.10
fvcore==0.1.5.post20221221

# Для работы с русским языком
pymorphy3==2.0.0
pymorphy3-dicts-ru==2.4.417150.4580142
sentencepiece==0.2.0

# Вспомогательные библиотеки
pyyaml==6.0.2
shapely==2.0.4
scipy==1.13.0
protobuf==4.26.0
tensorboard==2.16.2
